.mybtn {
  width: fit-content;
  background-color: #fff;
  color: var(--dark-color);
  font-size: var(--font-size-base);
  line-height: normal;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  border-radius: 50px;
  transition: .6s linear;
  overflow: hidden;
  position: relative;
  z-index: 1;
  border: 1px solid transparent;
  text-decoration: none;
}

.mybtn::before {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 50%;
  width: 0;
  height: 0;
  background-color: var(--primary-color);
  border-radius: 50%;
  transform: translate(-50%, 50%);
  transition: .6s linear;
  z-index: -1;
  aspect-ratio: 1/1;
}

.mybtn:hover::before {
  width: 300%;
  height: initial;
}

.text {
  min-width: 225px;
  height: 55px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.text span {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 22px;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: .6s linear;
  font-weight: 600;
  color: var(--dark-color);
}

.text span:last-child {
  transform: translateY(100%);
}

.mybtn:hover .text span:first-child {
  transform: translateY(-100%);
}

.mybtn:hover .text span:last-child {
  transform: translateY(0);
}

.mybtn:hover .text span{
  color: var(--light-color);
}

.icon {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: var(--dark-color);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
  transition: .6s linear;
}

.iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  transition: .6s var(--cubic);
}

.iconWrapper img {
  transition: .5s ease-in-out;
}

.iconWrapper img:last-child {
  position: absolute;
  left: -100%;
  opacity: 0;
}

.mybtn:hover .iconWrapper img:first-child {
  transform: translateY(100%);
  opacity: 0;
}

.mybtn:hover .iconWrapper img:last-child {
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
}

.btn_white {
  background: var(--light-color);
}

.btn_white .icon img {
  filter: brightness(0) invert(1) !important;
}

.btn_white:hover {
  border-color: var(--primary-color);
}

.btn_black {
  background: var(--dark-color);
  color: var(--light-color) !important;
}

.btn_black .text span {
  color: var(--light-color) !important;
}

.btn_black .icon {
  background: var(--light-color) !important;
}

.btn_black .icon img {
  filter: brightness(0) !important;
}

.btn_black:hover {
  border-color: var(--primary-color);
}

@media screen and (max-width:1600px) {
  .text {
    min-width: 140px;
    height: 50px;
  }

  .text span {
    font-size: 18px;
  }

  .icon {
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width:1399px) {
  .text {
    min-width: 140px;
    height: 40px;
  }

  .text span {
    font-size: 16px;
  }

  .icon {
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-width:1199px) {
  .text {
    min-width: 130px;
  }

  .text span {
    font-size: 14px;
  }
}
