.featuresSection {
    background-color: #ffffff;
    padding: 120px 0;
    position: relative;
    z-index: 5;
}

.featuresContainer {
    position: relative;
    z-index: 2;
}

.rowAlign {
    align-items: stretch;
}

.leftCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-right: 15px;
}

.imageWrapper1 {
    margin-bottom: 40px;
}

.image1 {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.leftContentBottom {
    margin-top: auto;
}

.middleCard {
    height: 100%;
}

.image2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    min-height: 600px;
}

.rightCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-left: 15px;
}

.rightContentTop {
    margin-bottom: 40px;
}

.heading {
    font-size: 32px;
    font-weight: 800;
    color: #1a1a1a;
    margin-bottom: 20px;
    line-height: 1.3;
}

.paragraph {
    font-size: 24px;
    color: #424242;
    line-height: 1.8;
    margin-bottom: 0px;
}

.imageWrapper3 {
    margin-top: auto;
}

.image3 {
    width: 100%;
    height: auto;
    object-fit: cover;
}

@media (max-width: 1600px) {
    .featuresSection {
        padding: 60px 0;
    }

    .leftCard {
        padding-right: 0px;
    }

    .rightCard {
        padding-left: 0px;
    }

    .heading {
        font-size: 30px;
        margin-bottom: 15px;
    }

    .paragraph {
        font-size: 18px;
        line-height: 30px;
    }
}

@media (max-width: 1399px) {
    .featuresSection {
        padding: 40px 0;
    }

    .heading {
        margin-bottom: 10px;
        font-size: 25px;
    }

    .paragraph {
        font-size: 16px;
        line-height: 25px;
    }

    .imageWrapper1,
    .rightContentTop {
        margin-bottom: 25px;
    }

    .image2 {
        min-height: 510px;
    }
}

@media (max-width: 1199px) {

    .heading {
        font-size: 20px;
    }

    .paragraph {
        font-size: 14px;
        line-height: 22px;
    }

    .image2 {
        min-height: 435px;
    }
}

@media (max-width: 991px) {
    .image3 {
        height: 300px;
    }
}

@media (max-width: 767px) {

    .heading {
        font-size: 25px;
    }

    .image1,
    .image2,
    .image3 {
        height: 300px;
    }
}

@media (max-width: 575px) {

    .image1,
    .image2,
    .image3 {
        height: 250px;
    }
}