.techSection {
    padding: 100px 0;
    background-color: #ffffff;
    overflow: hidden;
    position: relative;
    z-index: 5;
}

.imageWrapper {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroImage {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.textContent {
    padding-left: 20px;
}

.heading {
    margin-bottom: 20px;
    letter-spacing: -1.5px;
}

.relativeText {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.paragraph {
    font-size: 18px;
    color: #777;
    line-height: 1.8;
    margin-bottom: 40px;
    font-weight: 400;
    max-width: 90%;
}

.paragraph strong {
    font-weight: 700;
    color: #1A1A1A;
}

@media (max-width: 1600px) {
    .techSection {
        padding: 60px 0;
    }
}

@media (max-width: 1399px) {
    .paragraph {
        font-size: 16px;
        margin-bottom: 25px;
        max-width: 100%;
    }
}

@media (max-width: 1199px) {
    .techSection {
        padding: 40px 0;
    } 
    
    .textContent {
        padding-left: 0px;
    }

    .paragraph {
        font-size: 14px;
    }
}

@media (max-width: 991px) {
    .textContent {
        padding-top: 30px;
    }

    .imageWrapper {
        width: 40%;
    }
}

@media (max-width: 767px) {
    .heading {
        letter-spacing: 0px;
    }

    .imageWrapper {
        width: 50%;
    }

    .paragraph {
        margin-bottom: 30px;
    }
}

@media (max-width: 575px) {
    .imageWrapper {
        width: 100%;
    }
}
