.aboutSection {
    background-color: #00000000;
    min-height: 100vh;
    margin-top: -100px;
    position: relative;
    z-index: 10;
}

.aboutCard {
    /* background: radial-gradient(circle at top right, #eaddff 0%, #f9f9ff 60%); */
    border-radius: 120px 120px 0 0;
    padding: 120px 0 80px 0;
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: calc(100vh - 40px);
}

.backgroundImage {
    object-fit: cover;
    z-index: -1;
}

.badge {
    display: inline-block;
    background-color: #1a1a1a;
    color: var(--light-color);
    padding: 8px 20px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
}

.heading {
    color: var(--dark-color);
}

.videoWrapper {
    width: 100%;
    max-width: 450px;
    aspect-ratio: 16/9;
    border-radius: 200px;
    overflow: hidden;
    position: relative;
    background: #000;
}

.laptopVideo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    object-fit: cover;
}

.handWrapper {
    position: relative;
    width: 570px;
    margin: 0px auto;
    margin-bottom: -80px;
    z-index: 2;
}

.springElement {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
}

.springImage {
    width: 100%;
    height: auto;
}

.handImage {
    width: 100%;
    height: auto;
    display: block;
}

.gifOverlay {
    border-radius: 35px;
    width: 360px;
    height: 565px;
    position: absolute;
    top: -1px;
    left: 0px;
    overflow: hidden;
    transform: rotate(.5deg);
}

.gifImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contentArea {
    padding-left: 20px;
    padding-bottom: 120px;
}

.vectorWrapper {
    margin-bottom: 25px;
    margin-top: -20px;
}

.blueVector {
    width: 357px;
    height: 15px;
}

.paragraphs p {
    font-size: 22px;
    color: #555;
    margin-bottom: 25px;
}

@media (max-width: 1199px) {
    .heading {
        font-size: 50px;
    }

    .aboutCard {
        padding: 50px;
        border-radius: 50px;
    }

    .handWrapper {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 991px) {
    .aboutCard {
        min-height: auto;
    }

    .contentArea {
        padding-left: 0;
        margin-top: 40px;
        padding-bottom: 50px;
    }

    .videoWrapper {
        margin-top: 30px;
        justify-content: center;
        display: flex;
        max-width: 100%;
    }
}