.bannerSection {
    background-color: var(--dark-color);
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    z-index: 1;
    padding: 180px 0 250px 0;
}

.absoluteSliderWrapper {
    position: absolute;
    left: -1%;
    top: 50%;
    transform: translateY(-50%);
    width: 43%;
    height: 100%;
    z-index: 1;
    mask-image: linear-gradient(to bottom, transparent, black 15%, black 85%, transparent);
    pointer-events: none;
    opacity: 0.8;
}

.backgroundImage {
    object-fit: cover;
    z-index: -1;
}


.contentWrapper {
    position: relative;
    z-index: 5;
}

.vectorWrapper {
    margin: -10px 0 30px 0;
}

.greenVector {
    width: 100%;
    max-width: 650px;
    height: auto;
}

.heading {
    font-size: var(--banner-heading-size);
    line-height: var(--banner-heading-line-height);
    color: var(--light-color);
    font-weight: var(--font-800);
}

.highlightGreen {
    color: var(--primary-color);
}

.highlightPurple {
    color: var(--secondary-color);
}

.underlineWrapper {
    position: relative;
    display: inline-block;
}

.underlineSvg {
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 100%;
}

.paragraph {
    font-size: 18px;
    line-height: 28px;
    color: rgba(255, 255, 255, 0.7);
    max-width: 600px;
}

@media (max-width: 1600px) {
    .bannerSection {
        min-height: unset;
        padding: 180px 0 200px;
    }

    .contentWrapper {
        padding-left: 50px;
    }

    .heading {
        font-size: 55px;
        line-height: 65px;
    }

    .paragraph {
        font-size: 16px;
        line-height: unset;
        max-width: unset;
    }

    .vectorWrapper {
        width: 550px;
        margin: 0px 0 25px;
    }

    .absoluteSliderWrapper {
        width: 45%;
    }
}

@media (max-width: 1399px) {
    .bannerSection {
        padding: 140px 0 160px;
    }

    .heading {
        font-size: 45px;
        line-height: 50px;
    }

    .vectorWrapper {
        width: 450px;
        margin: 0px 0 20px;
    }

    .paragraph {
        font-size: 14px;
        font-weight: 300;
    }
}

@media (max-width: 1199px) {
    .bannerSection {
        padding: 140px 0 160px;
    }

    .heading {
        font-size: 35px;
        line-height: 40px;
    }

    .greenVector {
        max-width: 350px;
    }
}

@media (max-width: 991px) {

    .contentWrapper {
        padding-left: 0px;
    }

    .absoluteSliderWrapper {
        display: none;
    }
}

@media (max-width: 767px) {
    .heading {
        width: unset;
    }
}

@media (max-width: 575px) {
    .bannerSection {
        padding: 120px 0 40px;
    }

    .heading {
        font-size: 25px;
        line-height: 30px;
    }
    .vectorWrapper {
        width: 100%;
        margin: 0px 0 15px;
    }
}