.consultationSection {
    position: relative;
    padding: 120px 0;
    overflow: hidden;
    background-color: #fff;
}

.bgImage {
    object-fit: cover;
    z-index: 1;
}

.container {
    position: relative;
    z-index: 5;
}

.contentArea {
    padding-bottom: 120px;
}

.heading {
    color: var(--dark-color);
    margin-bottom: 0;
}

.purpleText {
    color: var(--primary-color);
}

.subLabel {
    font-size: 18px;
    font-weight: 500;
    color: #666;
    margin: 30px 0 10px;
}

.description {
    font-size: 18px;
    line-height: 1.7;
    color: #777;
    max-width: 550px;
}

.imageWrapper {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.womanImg {
    object-fit: contain;
    width: 100%;
    height: auto;
    filter: drop-shadow(0 20px 40px rgba(0, 0, 0, 0.05));
    display: block;
}

@media screen and (max-width: 1600px) {
    .consultationSection {
        padding: 80px 0;
    }

    .contentArea {
        padding-bottom: 0;
    }

    .subLabel {
        margin: 25px 0 10px;
        font-size: 16px;
    }

    .description {
        max-width: unset;
        font-size: 16px;
    }
}

@media screen and (max-width: 1399px) {
    .consultationSection {
        padding: 60px 0;
    }
}

@media screen and (max-width: 1199px) {
    .consultationSection {
        padding: 40px 0;
    }
}

@media (max-width: 991px) {
    .imageWrapper {
        width: 400px;
        margin-left: auto;
    }
}

@media (max-width: 575px) {
    .imageWrapper {
        width: 300px;
        margin-top: 30px;
        margin-left: auto;
    }
}
